@model PRO.Domain.Entities.Image

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="list-title box-shadow">Szczegóły obrazu</h2>
<div class="window-background box-shadow p-3">
    <div>

        <dl class="dl-horizontal">
            <dt>
                <label>Obraz</label>
            </dt>
            <dd>
                <div style="text-align: left;">
                    <img style="max-width:300px; max-height:300px;" class=" lazyloaded" src="/images/@Model.ImagePath">
                </div>
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ImagePath)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ImagePath)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.ImageType.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ImageType.Name)
            </dd>
        </dl>
    </div>
    <hr />
    <p>
        <div class="btn btn-primary"><a class="actionLinkManage" href="/images/edit/@Model.Id">Edytuj</a></div>
        <a href="/images/delete/@Model.Id" class="btn btn-secondary">Usuń</a>
        <a href="#" class="btn btn-secondary" onclick="javascript:window.history.back(-1);return false;">Powrót</a>
    </p>
</div>