@model PRO.Entities.PaginatedList<PRO.Entities.Company>

@{
    ViewBag.Title = "Manage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/companies/manage">Zarządzaj firmami</a>
        <button onclick="openButton2()" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor02" style=" align-items: start; justify-content: flex-end;">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/companies/add">
                        Dodaj
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/panel">Powrót</a>
                </li>
            </ul>
            <form asp-action="Manage" method="get" class="d-flex" style="display: flex; align-items: center;">
                <input class="form-control form-control-width me-sm-2" placeholder="Szukaj" type="text" name="currentFilter" value="@Model.Pagination.CurrentFilter" />
                <button class="btn btn-secondary my-2 my-sm-0" style="margin-left:5px;" type="submit">Szukaj</button>
            </form>
        </div>
    </div>
</nav>
<div class="window-background box-shadow">
    <div class="table-container">
        <table class="table tablecolor">
            <tr class="tableheadercolor">
                <th>
                    <a asp-action="Manage" asp-route-sortOrder="@ViewData["NameSortParm"]" asp-route-currentFilter="@Model.Pagination.CurrentFilter" asp-route-items="@Model.Pagination.PageItems" asp-route-page="@Model.Pagination.PageIndex">Nazwa</a>

                </th>
                <th>
                    <a asp-action="Manage" asp-route-sortOrder="@ViewData["DateSortParm"]" asp-route-currentFilter="@Model.Pagination.CurrentFilter" asp-route-items="@Model.Pagination.PageItems" asp-route-page="@Model.Pagination.PageIndex">Data dodania</a>

                </th>
                <th>
                    Aktywna
                </th>
                <th></th>
            </tr>

            @{ foreach (var item in Model)
                {
                    <tr class="tablerow">
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CreatedDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IsActive)
                        </td>
                        <td>
                            @Html.ActionLink("Edytuj", "Edit", new { id = item.Id }) |
                            @Html.ActionLink("Szczegóły", "Details", new { id = item.Id })
                            @if (@User.IsInRole("Admin"))
                            {<text>|</text>
                            @Html.ActionLink("Usuń", "Delete", new { id = item.Id })
                        }
                        </td>
                    </tr>
                }
            }
        </table>
    </div>
    <div>
        <partial name="~/Views/Shared/_Pagination.cshtml" , model="Model.Pagination" />
    </div>
</div>
    <script>
        function openButton2() {
            var element = document.getElementById("navbarColor02");
            element.classList.toggle("collapse");
        }

    </script>
