@model PRO.UI.ViewModels.ArticleViewModel

@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2 class="list-title box-shadow">Dodaj artykuł</h2>
<div class="window-background box-shadow p-3">

    @using (Html.BeginForm("Add", "Articles"))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">


            @Html.ValidationSummary(false, "", new { @class = "text-danger" })
            <h3 class="underlined_h2">Podstawowe informacje</h3>
            <div class="form-group">
                @Html.LabelFor(model => model.Article.GameId, "Gra", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <select class="selectpicker show-tick" style="max-width:400px;" id="Article.GameId" name="Article.GameId" data-live-search="true" title="Wybierz grę" required>
                        @foreach (var item in Model.Games)
                        {
                            <option value="@item.Id">@item.Title</option>
                        }

                    </select>
                    <div>@Html.ValidationMessageFor(model => model.Article.GameId, "", new { @class = "text-danger" })</div>
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Article.Title, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Article.Title, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Article.Title, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Article.Preview, htmlAttributes: new { @class = "control-label col-md-2 formtextarea" })
                <div class="col-md-10">
                    @Html.TextAreaFor(model => model.Article.Preview, new { @id = "formtextarea", @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Article.Preview, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Article.Content, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextAreaFor(model => model.Article.Content, new { @id = "mytextarea", @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Article.Content, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Article.ArticleTypeId, "Rodzaj artykułu", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <select class="selectpicker show-tick" style="max-width:400px;" id="Article.ArticleTypeId" name="Article.ArticleTypeId" data-live-search="true" title="Wybierz rodzaj artykułu" required>
                        @foreach (var item in Model.ArticleTypes)
                        {
                            <option value="@item.Id">@item.Name</option>
                        }

                    </select>
                    <div>@Html.ValidationMessageFor(model => model.Article.ArticleTypeId, "", new { @class = "text-danger" })</div>
                </div>
            </div>

            <br />
            <h3 class="underlined_h2">Dodatkowe informacje</h3>
            <br />
            <div class="form-group">
                @Html.LabelFor(model => model.Article.SourceLink, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Article.SourceLink, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Article.SourceLink, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.ImageTypes, "Rodzaj obrazka", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <select class="selectpicker show-tick" style="max-width:400px;" id="SelectedImageTypeId" name="SelectedImageTypeId" data-live-search="true" onchange="javascript:GetImagesByType(this.value);" title="Wybierz rodzaj obrazka">
                        @foreach (var item in Model.ImageTypes)
                        {
                            <option value="@item.Id">@item.Name</option>
                        }

                    </select>
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Article.ImageId, "Obraz", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <select class="selectpicker show-tick" style="max-width:400px;" id="ImageId" name="Article.ImageId" data-live-search="true" onchange="SetImageId()" title="Wybierz obraz">
                    </select>
                    @Html.ValidationMessageFor(model => model.Article.ImageId, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Article.IsActive, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.Article.IsActive)
                        @Html.ValidationMessageFor(model => model.Article.IsActive, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <hr />
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Dodaj" class="btn btn-primary" />
                    <a href="#" class="btn btn-secondary" onclick="javascript:window.history.back(-1);return false;">Powrót</a>
                </div>
            </div>
        </div>
    }
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
<script language="javascript" type="text/javascript">

    function GetImagesByType(_stateId) {
        var procemessage = "<option value='0'> Please wait...</option>";
        $("#ImageId").html(procemessage).show();
        var url = "/images/getimagesbytype/" + _stateId;

        $.ajax({
            url: url,
            data: { id: _stateId },
            cache: false,
            type: "POST",
            success: function (data) {
                if (data.length > 0) {
                    var markup = "<option value=\"0\">Wybierz obrazek</option>";
                } else {
                    var markup = "<option value=\"0\">Brak obrazków wybranego typu</option>";
                }

                for (var x = 0; x < data.length; x++) {
                    markup += "<option value=" + data[x].value + ">" + data[x].text + "</option>";
                }
                $("#ImageId").html(markup).show();
                $('#ImageId').selectpicker("refresh");
            },
            error: function (reponse) {
                alert("error : " + reponse);
            }
        });

    }


</script>
<script>
    function SetImageId() {
        var id = $('#ImageId').find(":selected").Value;
        console.log(id);
    }
</script>
@section scripts{
    <partial name="_ValidationScriptsPartial" />
}


