@model PRO.Entities.PaginatedList<PRO.Entities.Article>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ul class="nav nav-tabs" id="myTab">
    <li class="nav-item">
        <a class="nav-link @(ViewBag.platform == "all" ? "active" : "")" href="/articles?platform=all">Wszystkie</a>
    </li>
    <li class="nav-item">
        <a class="nav-link @(ViewBag.platform == "PC" ? "active" : "")" href="/articles?platform=PC">PC</a>
    </li>
    <li class="nav-item">
        <a class="nav-link @(ViewBag.platform.Contains("Playstation") ? "active" : "")" href="/articles?platform=Playstation">Playstation</a>
    </li>
    <li class="nav-item">
        <a class="nav-link @(ViewBag.platform.Contains("Xbox") ? "active" : "")" href="/articles?platform=Xbox">Xbox</a>
    </li>
    <li class="nav-item">
        <a class="nav-link @(ViewBag.platform == "Switch" ? "active" : "")" href="/articles?platform=Switch">Switch</a>
    </li>
    <li class="nav-item">
        <a class="nav-link @((ViewBag.platform != "all" && ViewBag.platform != "PC" && !ViewBag.platform.Contains("Playstation") && !ViewBag.platform.Contains("Xbox") && ViewBag.platform != "Switch") || ViewBag.platform == "other" ? "active" : "")" href="/articles?platform=other">Inne</a>
    </li>

</ul>

<div id="myTabContent" class="tab-content">
    <div class="tab-pane fade active show" id="all">
        <div class="list-group">
            @{ 
                foreach(var item in Model) 
                {                  
                    <div class="news-list mt16 mr8">
                        <div class="news-unit">
                            @if (item.Image != null)
                            {
                                <a href="/articles/@item.Id" class="image-link">
                                    <img style="max-height:300px;max-width:200px;" class="img" alt="myimage" src="/images/@item.Image.ImagePath">
                                </a>
                            }
                            <div class="news-unit-right">
                                <p class="title">
                                    <a href="/articles/@item.Id">@item.Title</a>
                                </p>
                                <div class="text">
                                    @item.Preview
                                </div>
                                <div class="information">
                                    <p class="info di-ib">
                                        @item.PublishedDate <text>przez</text> <a href="/users/@item.Author.UserId">@item.Author.FirstName @item.Author.LastName</a> <a href="/articles?platform=@item.Game.Platform.Name" class="nav-item">@item.Game.Platform.Name</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                }
            }

        </div>
    </div>

</div>
<div>
    @{Model.Pagination.Route = "articles?platform=" + ViewBag.platform + "&";}
    <partial name="~/Views/Shared/_Pagination.cshtml" , model="Model.Pagination" /> 
</div>



