@model PRO.Entities.PaginatedList<PRO.Entities.Article>

@{
    ViewBag.Title = "Manage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Zarządzaj artykułami</h2>

<p>
    <div class="btn btn-primary"><a class="actionLinkManage" href="/articles/add">Dodaj nowy</a></div>
    <div class="btn btn-secondary"><a class="actionLinkManage" href="/panel">Powrót</a></div>
</p>
<table class="table">
    <tr>
        <th>
            Tytuł
        </th>
        <th>
            Gra
        </th>
        <th>
            Imię
        </th>
        <th>
            Nazwisko
        </th>
        <th>
            Widoczny
        </th>
        <th>
            Rodzaj
        </th>
        <th>
            Data publikacji
        </th>
        <th></th>
    </tr>

    @{
        
        foreach(var article in Model)
        {

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => article.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => article.Game.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => article.Author.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => article.Author.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => article.IsActive)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => article.ArticleType.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => article.PublishedDate)
                </td>
                <td>
                    @Html.ActionLink("Edytuj", "Edit", new { id = article.Id }) |
                    @Html.ActionLink("Szczegóły", "ManageDetails", new { id = article.Id })
                    @if (@User.IsInRole("Admin"))
                    {<text>|</text>
                    @Html.ActionLink("Usuń", "Delete", new { id = article.Id })
                }

                </td>
            </tr>


        }
    }

    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
</table>
<div>
    <partial name="~/Views/Shared/_Pagination.cshtml" , model="Model.Pagination" />  
</div>
