@model PRO.Entities.PaginatedList<PRO.Entities.Article>

@{
    ViewBag.Title = "Manage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script>
    function openButton2() {
        var element = document.getElementById("navbarColor02");
        element.classList.toggle("collapse");
    }

</script>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/articles/manage">Zarządzaj artykułami</a>
        <button onclick="openButton2()" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor02" style=" align-items: start; justify-content: flex-end;">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/articles/add">
                        Dodaj
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/panel">Powrót</a>
                </li>
            </ul>
            <form asp-action="Manage" method="get" class="d-flex" style="display: flex; align-items: center;">
                <input class="form-control me-sm-2" placeholder="Szukaj" type="text" name="currentFilter" value="@Model.Pagination.CurrentFilter" />
                <button class="btn btn-secondary my-2 my-sm-0" style="margin-left:5px;" type="submit">Szukaj</button>
            </form>
        </div>
    </div>
</nav>
<div class="table-container">
    <table class="table">
        <tr class="tableheadercolor">
            <th>
                <a asp-action="Manage" asp-route-sortOrder="@ViewData["TitleSortParm"]" asp-route-currentFilter="@Model.Pagination.CurrentFilter">Tytuł</a>

            </th>
            <th>
                <a asp-action="Manage" asp-route-sortOrder="@ViewData["GameSortParm"]" asp-route-currentFilter="@Model.Pagination.CurrentFilter">Gra</a>
            </th>
            <th>
                Imię
            </th>
            <th>
                Nazwisko
            </th>
            <th>
                Widoczny
            </th>
            <th>
                Rodzaj
            </th>
            <th>
                <a asp-action="Manage" asp-route-sortOrder="@ViewData["DateSortParm"]" asp-route-currentFilter="@Model.Pagination.CurrentFilter">Data publikacji</a>
            </th>
            <th>
                Opcje
            </th>
        </tr>

        @{

            foreach (var article in Model)
            {

                <tr class="tablerow">
                    <td>
                        @Html.DisplayFor(modelItem => article.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => article.Game.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => article.Author.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => article.Author.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => article.IsActive)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => article.ArticleType.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => article.PublishedDate)
                    </td>
                    <td>
                        @Html.ActionLink("Edytuj", "Edit", new { id = article.Id }) |
                        @Html.ActionLink("Szczegóły", "ManageDetails", new { id = article.Id })
                        @if (@User.IsInRole("Admin"))
                        {<text>|</text>
                        @Html.ActionLink("Usuń", "Delete", new { id = article.Id })
                    }

                    </td>
                </tr>


            }
        }

    </table>
    </div>
    <div>
        <partial name="~/Views/Shared/_Pagination.cshtml" , model="Model.Pagination" />
    </div>
