@model PRO.Entities.PaginatedList<PRO.Entities.Article>
    @{
        ViewBag.Title = "Index";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

<ul class="nav nav-tabs" id="myTab">
    <li class="nav-item">
        <a class="nav-link @(ViewData["CurrentFilter"].ToString() == "all" ? "active" : "")" href="/articles?query=all">Wszystkie</a>
    </li>
    <li class="nav-item">
        <a class="nav-link @(ViewData["CurrentFilter"].ToString() == "PC" ? "active" : "")" href="/articles?query=PC">PC</a>
    </li>
    <li class="nav-item">
        <a class="nav-link @(ViewData["CurrentFilter"].ToString().Contains("Playstation") ? "active" : "")" href="/articles?query=Playstation">Playstation</a>
    </li>
    <li class="nav-item">
        <a class="nav-link @(ViewData["CurrentFilter"].ToString().Contains("Xbox") ? "active" : "")" href="/articles?query=Xbox">Xbox</a>
    </li>
    <li class="nav-item">
        <a class="nav-link @(ViewData["CurrentFilter"].ToString() == "Switch" ? "active" : "")" href="/articles?query=Switch">Switch</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" href="/articles/search/@ViewData["CurrentFilter"]">Wyszukiwanie</a>
    </li>

</ul>

    <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade active show" id="all">
            <div class="list-group">
                @{
                    foreach (var item in Model)
                    {
                        <div class="news-list mt16 mr8">
                            <div class="news-unit">
                                <a href="/articles/@item.Id" class="image-link">
                                    <img style="max-height:300px;max-width:200px;" class="img" alt="myimage" src="/images/@item.Image.ImagePath">
                                </a><div class="news-unit-right">
                                    <p class="title">
                                        <a href="/articles/@item.Id">@item.Title</a>
                                    </p>
                                    <div class="text">
                                        @item.Preview
                                    </div>
                                    <div class="information">
                                        <p class="info di-ib">
                                            @item.PublishedDate.ToShortDateString() <text>przez</text> <a href="#">@item.Author.FirstName</a> dla <a href="/articles?platform=@item.Game.Platform.Name" class="nav-item">@item.Game.Platform.Name</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                    }
                }

            </div>
        </div>

    </div>
    <div>
        <partial name="~/Views/Shared/_Pagination.cshtml" , model="Model.Pagination" />
    </div>

