@model PRO.UI.ViewModels.GamesViewModel
@using PRO.Domain.Extensions
@using PRO.Entities;
@using Microsoft.AspNetCore.Identity
@using System.Reflection
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    bool userLoggedIn = (SignInManager.IsSignedIn(User));
}
@{
    var formModel = Model.GameFilterForm;
    var routeData = new Dictionary<string, string>();
    foreach (PropertyInfo myParam in formModel.GetType().GetProperties())
    {
        int[] array = (int[])myParam.GetValue(formModel);
        for (int x = 0; x < array.Length; x++)
        {

            routeData.Add(myParam.Name+"["+x+"]", array[x].ToString());
        }

    }
}

<td class="title">
    <a asp-action="@Model.GamesScores.Pagination.Action"
       asp-all-route-data="@routeData"
       asp-route-sortOrder="@ViewData["TitleSortParm"]"
       asp-route-currentFilter="@Model.GamesScores.Pagination.CurrentFilter"
       asp-route-items="@Model.GamesScores.Pagination.PageItems"
       asp-route-page="@Model.GamesScores.Pagination.PageIndex"
       class="sort-link">
        Tytuł
    </a>
</td>

<td class="score">
    <a asp-action="@Model.GamesScores.Pagination.Action"
       asp-all-route-data="@routeData"
       asp-route-sortOrder="@ViewData["PlatformSortParm"]"
       asp-route-currentFilter="@Model.GamesScores.Pagination.CurrentFilter"
       asp-route-items="@Model.GamesScores.Pagination.PageItems"
       asp-route-page="@Model.GamesScores.Pagination.PageIndex"
       class="sort-link">
        Platforma
    </a>
</td>
<td class="your-score">
    <a asp-action="@Model.GamesScores.Pagination.Action"
       asp-all-route-data="@routeData"
       asp-route-sortOrder="@ViewData["DateSortParm"]"
       asp-route-currentFilter="@Model.GamesScores.Pagination.CurrentFilter"
       asp-route-items="@Model.GamesScores.Pagination.PageItems"
       asp-route-page="@Model.GamesScores.Pagination.PageIndex"
       class="sort-link"
       style="margin-left:15px; margin-right:15px;">
        Data premiery
    </a>
</td>
<td class="score">
    <a asp-action="@Model.GamesScores.Pagination.Action"
       asp-all-route-data="@routeData"
       asp-route-sortOrder="@ViewData["ScoreSortParm"]"
       asp-route-currentFilter="@Model.GamesScores.Pagination.CurrentFilter"
       asp-route-items="@Model.GamesScores.Pagination.PageItems"
       asp-route-page="@Model.GamesScores.Pagination.PageIndex"
       class="sort-link">
        Średnia ocena
    </a>
</td>
@{
    if (userLoggedIn)
    {
        <td class="your-score">
            <a asp-action="@Model.GamesScores.Pagination.Action"
       asp-all-route-data="@routeData"
       asp-route-sortOrder="@ViewData["UserscoreSortParm"]"
       asp-route-currentFilter="@Model.GamesScores.Pagination.CurrentFilter"
       asp-route-items="@Model.GamesScores.Pagination.PageItems"
       asp-route-page="@Model.GamesScores.Pagination.PageIndex"
       class="sort-link your-score-link">
                Twoja ocena
            </a>
        </td>
    }
}
<td class="status">
    <a asp-action="@Model.GamesScores.Pagination.Action"
       asp-all-route-data="@routeData"
       asp-route-sortOrder="@ViewData["StatusSortParm"]"
       asp-route-currentFilter="@Model.GamesScores.Pagination.CurrentFilter"
       asp-route-items="@Model.GamesScores.Pagination.PageItems"
       asp-route-page="@Model.GamesScores.Pagination.PageIndex"
       class="sort-link">
        Status
    </a>
</td>

