@model PRO.UI.ViewModels.GameFilterViewModel
@using PRO.Domain.Extensions
@using PRO.Entities;
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    bool userLoggedIn = (SignInManager.IsSignedIn(User));
}

<div>
    <table border="0" cellpadding="0" cellspacing="0" width="100%" class="top-ranking-table">
        <tbody>
            <tr class="table-header">
                <td class="title">Tytuł</td>
                <td class="score">Średnia ocena</td>
                @{ if (userLoggedIn)
                    {
                        <td class="your-score">Twoja ocena</td>
                    } }
                <td class="status">Status</td>
            </tr>
            @{
                foreach (var item in Model.GamesScores)
                {

                    <tr class="ranking-list">
                        <td class="title al va-t word-break">
                            <div class="gameListImageGrid">
                                <div>
                                    @if (item.Game.Image != null)
                                    {
                                        <a class="fl-l ml12 mr8" href="/games/@item.Game.Id" style="position: relative;">
                                            <img width="70" height="90" class=" lazyloaded" border="0" src="/images/@item.Game.Image.ImagePath">
                                        </a>
                                    }
                                </div>

                                <div class="detail">
                                    <div class="di-flex clearfix">
                                        <a class="" href="/games/@item.Game.Id">@item.Game.Title</a>
                                    </div>
                                    <div class="information di-ib mt4" style="overflow:hidden; text-overflow:clip; max-width:500px; min-width:200px;">
                                        @Html.Raw(item.Game.Description.Truncate(140))...<a href="/games/@item.Game.Id">więcej</a>
                                    </div>
                                </div>
                            </div>
                        </td>

                        <td class="score ac fs14">
                            <div class="js-top-ranking-score-col di-ib al" style="width: 48.7969px;">
                                <i class="icon-score-star mr4 on"></i>
                                <span class="text on score-label score-9">
                                    @{
                                        if (item.Score.HasValue && !Double.IsNaN(item.Score.Value))
                                        {
                                            @Math.Round((double)item.Score.Value)
                                        }
                                        else
                                        {
                                            @:0
                                        }
                                    }
                                </span>
                            </div>
                        </td>
                        @{if (userLoggedIn)
                            {


                                <td class="your-score ac fs14">
                                    <div class="js-top-ranking-your-score-col di-ib al" style="width: 43.4063px;">
                                        @if (item.UserScore == null)
                                        {
                                            <i class="icon-score-star mr4 "></i><span class="text  score-label score-na">N/A</span>
                                        }
                                        else
                                        {
                                            <i class="icon-score-star mr4 "></i><span class="text  score-label score-na">@Math.Round((double)item.UserScore.Value,1)</span>
                                        }

                                    </div>
                                </td>
                            }}

                        <td class="status ac">
                            <i class="fa fa-plus-square-o mr4"></i>@item.Game.Status.Name
                        </td>
                    </tr>

                } }


        </tbody>

    </table>
</div>
<div>
    <partial name="~/Views/Shared/_Pagination.cshtml" , model="Model.GamesScores.Pagination" />
</div>
