
@model PRO.UI.ViewModels.GameDetailsViewModel

@{
    ViewBag.Title = "ManageDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="list-title box-shadow">Szczegóły gry</h2>

<partial name="~/Views/Shared/_GameTitleBar.cshtml" , model="Model.GameInfo.Game" />

<div id="content" class="userprofilecontent box-shadow window-background">


    <partial name="~/Views/Shared/_GameInfoBar.cshtml" , model="Model.GameInfo" />

    <div valign="top" style="        padding-left: 5px;        width: 100%;">
        <div class="js-scrollfix-bottom-rel" style="display: flex; width: 100%;">
            <div style=" margin:0 auto"></div><a name="lower"></a>

            <table border="0" cellspacing="0" cellpadding="0" width="100%">
                <tbody>
                    <tr>
                        <td valign="top">

                            <div class="di-t w100 mt12">
                                <div class="game-detail-header-stats di-tc va-t ">
                                    <div class="stats-block po-r clearfix">
                                        <div class="fl-l score" data-title="ocena">
                                            <div class="score-label score-7">

                                                @{
                                                    if (Model.GameInfo.Rating.HasValue && !Double.IsNaN(Model.GameInfo.Rating.Value) && Model.GameInfo.Rating.Value != 0)
                                                    {
                                                        @Math.Round((double)Model.GameInfo.Rating.Value)
                                                    }
                                                    else
                                                    {
                                                        @:-
                                                    }
                                                }

                                            </div>
                                        </div>
                                        <div class="di-ib ml12 pl20 pt8">
                                            <span class="numbers ranked">Ranking<strong>#@Model.GameInfo.Position</strong></span>
                                            <span class="numbers popularity">Popularność<strong>#@Model.GameInfo.Popularity</strong></span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </td>
                    </tr>
                    <tr>
                        <td class="pb24">
                            <div class="underlined_h2">Opis</div>
                            @if (String.IsNullOrEmpty(Model.GameInfo.Game.Description))
                            {
                                {
                                    <p>Obecnie nie ma opisu dla tej gry</p>
                                }
                            }
                            else
                            {
                                <p>@Html.Raw(Model.GameInfo.Game.Description)</p>
                            }

                        </td>
                    </tr>
                    <tr>
                        <td class="pb24">

                            @if (Model.GameInfo.Game.Series != null)
                            {
                                if (Model.GameInfo.Game.Series.Games.Count() > 1)
                                {
                                    <div class="underlined_h2">Gry z serii @Model.GameInfo.Game.Series.Name</div>
                                    <table class="" style="border-spacing:0px;">
                                        <tbody>
                                            <tr>
                                                <td width="100%" style=" display: flex; flex-direction: column;" class="">
                                                    @{
                                                        foreach (var game in Model.GameInfo.Game.Series.Games)
                                                        {
                                                            if (game.Id != Model.GameInfo.Game.Id)
                                                            {
                                                                <a href="/games/@game.Id">@game.Title</a>
                                                            }

                                                        }
                                                    }
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <br />
                                }
                            }
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>

</div>



<h2 class="list-title box-shadow" style="margin-top:20px;">Szczegóły gry - pozostałe dane</h2>
<div class="window-background box-shadow p-3" style="margin-top:20px;"> 
    <div>

        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.GameInfo.Game.IsActive)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.GameInfo.Game.IsActive)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.GameInfo.Game.SteamAppId)
            </dt>

            <dd>
                @if (Model.GameInfo.Game.SteamAppId != null && Model.GameInfo.Game.SteamAppId != 0)
                {
                    @Model.GameInfo.Game.SteamAppId
                }
                else
                { <p>Brak przypisanej aplikacji Steam</p>}

            </dd>

        </dl>
    </div>
    <hr />
    <p>
        <div class="btn btn-primary"><a class="actionLinkManage" href="/games/edit/@Model.GameInfo.Game.Id">Edytuj</a></div>
        <a href="/games/delete/@Model.GameInfo.Game.Id" class="btn btn-secondary">Usuń</a>
        <a href="#" class="btn btn-secondary" onclick="javascript:window.history.back(-1);return false;">Powrót</a>
    </p>
</div>