@model PRO.Entities.PaginatedList<PRO.Entities.Game>

@{
    ViewBag.Title = "Manage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Zarządzaj grami</h2>

<p>
    <div class="btn btn-primary"><a class="actionLinkManage" href="/games/add">Dodaj nową</a></div>
    <div class="btn btn-secondary"><a class="actionLinkManage" href="/panel">Powrót</a></div>
</p>
<table class="table">
    <tr>
        <th>
           Tytuł
        </th>
        <th>
            Pltforma
        </th>
        <th>
           Status
        </th>
        <th>
            Data wydania
        </th>
        <th>
           Gatunek
        </th>
        <th>
            Producent
        </th>
        <th>
            Wydawca
        </th>
        <th>
            Seria
        </th>
        <th>
            Dostępna
        </th>
        <th></th>
    </tr>

    @{foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Platform.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status.Name)
                </td>

                <td>
                    @if (item.ReleaseDate != null)
                    {
                        @Html.DisplayFor(modelItem => item.ReleaseDate)

                    }
                    else
                    { <p>Brak</p>}
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Genre.Name)
                </td>
                <td>
                    @if (item.DeveloperCompany != null)
                    {
                        @Html.DisplayFor(modelItem => item.DeveloperCompany.Name)

                    }
                    else
                    { <p>Brak</p>}
                </td>

                <td>
                    @if (item.PublisherCompany != null)
                    {
                        @Html.DisplayFor(modelItem => item.PublisherCompany.Name)

                    }
                    else
                    { <p>Brak</p>}
                </td>
                <td>
                    @if (item.Series != null) { 
                        @Html.DisplayFor(modelItem => item.Series.Name)

                    }
                    else
                    { <p>Brak</p>}
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.IsActive)
                </td>
                <td>
                    @Html.ActionLink("Edytuj", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Szczegóły", "ManageDetails", new { id = item.Id }) @if (@User.IsInRole("Admin"))
                    {<text>|</text>
                    @Html.ActionLink("Usuń", "Delete", new { id = item.Id })
                }
                </td>
            </tr>
        }
    }
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
</table>
<div>
    @{Model.Pagination.Route = "games/manage?";}
    <partial name="~/Views/Shared/_Pagination.cshtml" , model="Model.Pagination" />
</div>