@model PRO.Entities.Game

@{
    ViewBag.Title = "ManageDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2 class="list-title box-shadow">Szczegóły gry</h2>
<div class="window-background box-shadow p-3">
    <div>

        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Title)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Title)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>

            <dd>
                @Html.Raw(@Model.Description)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.ReleaseDate)
            </dt>

            <dd>
                @if (Model.ReleaseDate != null)
                {
                    @Html.DisplayFor(model => model.ReleaseDate)

                }
                else
                { <p>Brak daty</p>}
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.IsActive)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.IsActive)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Platform)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Platform.Name)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Status)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Status.Name)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Genre)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Genre.Name)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Series)
            </dt>

            <dd>
                @if (Model.Series != null)
                {
                    @Html.DisplayFor(model => model.Series.Name)

                }
                else
                { <p>Brak serii</p>}
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Image)
            </dt>

            <dd>
                @if (Model.Image != null)
                {<img style="max-width:500px;width: expression(this.width > 500 ? 500: true);" class=" lazyloaded" src="/images/@Model.Image.ImagePath">

                }
                else
                { <p>Brak obrazu</p>}

            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.PublisherCompany)
            </dt>

            <dd>
                @if (Model.PublisherCompany != null)
                {
                    @Html.DisplayFor(model => model.PublisherCompany.Name)

                }
                else
                { <p>Brak wydawcy</p>}

            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.DeveloperCompany)
            </dt>

            <dd>
                @if (Model.DeveloperCompany != null)
                {
                    @Html.DisplayFor(model => model.DeveloperCompany.Name)

                }
                else
                { <p>Brak producenta</p>}
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Tags)
            </dt>

            <dd>
                @if (Model.Tags != null)
                {
                    for (var x = 0; x < Model.Tags.Count; x++)
                    {
                        var tags = Model.Tags.ToArray();
                        var tag = tags[x];

                        if (x + 1 < Model.Tags.Count)
                        {
                            tag.Name = tag.Name + ", ";
                        }
                        @Html.DisplayFor(model => tag.Name)
                    }
                }
                else
                { <p>Brak tagów</p>}
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Languages)
            </dt>

            <dd>
                @if (Model.Languages != null)
                {
                    for (var x = 0; x < Model.Languages.Count; x++)
                    {
                        var tags = Model.Languages.ToArray();
                        var tag = tags[x];

                        if (x + 1 < Model.Languages.Count)
                        {
                            tag.Name = tag.Name + ", ";
                        }
                        @Html.DisplayFor(model => tag.Name)
                    }
                }
                else
                { <p>Brak języków</p>}

            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.SteamAppId)
            </dt>

            <dd>
                @if (Model.SteamAppId != null)
                {
                    @Model.SteamAppId
                }
                else
                { <p>Brak przypisanej aplikacji Steam</p>}

            </dd>

        </dl>
    </div>
    <hr />
    <p>
        <div class="btn btn-primary"><a class="actionLinkManage" href="/games/edit/@Model.Id">Edytuj</a></div>
        <a href="#" class="btn btn-secondary" onclick="javascript:window.history.back(-1);return false;">Powrót</a>
    </p>
</div>