@model PRO.Entities.Pagination

<div  style="display: flex; justify-content: space-between;">
    <ul class="pagination">
    </ul>
    <ul class="pagination">
        @{

            var controllerName = this.ViewContext.RouteData.Values["controller"].ToString();


            if (Model.PageIndex != 1)
            {
                if (Model.PageIndex > 2)
                {
                    <li class="page-item">
                        <a asp-controller="@controllerName"
                           asp-route-id="@Model.RouteId"
                           asp-action="@Model.Action"
                           asp-route-sortOrder="@ViewData["CurrentSort"]"
                           asp-route-currentFilter="@ViewData["CurrentFilter"]"
                           asp-route-page="1"                    
                           asp-route-items="@Model.PageItems"
                           class="page-link">
                            «
                        </a>
                    </li>
                }
                <li class="page-item">
                    <a asp-controller="@controllerName"
                      asp-route-id="@Model.RouteId"
                       asp-action="@Model.Action"
                       asp-route-sortOrder="@ViewData["CurrentSort"]"
                       asp-route-currentFilter="@ViewData["CurrentFilter"]"
                       asp-route-page="@(Model.PageIndex-1)"
                       asp-route-items="@Model.PageItems"
                       class="page-link">
                        @(Model.PageIndex - 1)
                    </a>
                </li>
            }

            <li class="page-item active">
                <a asp-controller="@controllerName"
                   asp-route-id="@Model.RouteId"
                   asp-action="@Model.Action"     
                   asp-route-sortOrder="@ViewData["CurrentSort"]"
                   asp-route-currentFilter="@ViewData["CurrentFilter"]"
                   asp-route-page="@(Model.PageIndex)"
                   asp-route-items="@Model.PageItems"
                   class="page-link">
                    @(Model.PageIndex)
                </a>
            </li>
            if (Model.TotalPages > Model.PageIndex)
            {
                <li class="page-item">
                    <a asp-controller="@controllerName"
                       asp-action="@Model.Action"
                       asp-route-sortOrder="@ViewData["CurrentSort"]"
                       asp-route-currentFilter="@ViewData["CurrentFilter"]"
                       asp-route-page="@(Model.PageIndex+1)"
                       asp-route-items="@Model.PageItems"
                       class="page-link">
                        @(Model.PageIndex + 1)
                    </a>
                </li>

                if (Model.TotalPages > Model.PageIndex + 1)
                {
                    <li class="page-item">
                        <a asp-controller="@controllerName"
                           asp-route-id="@Model.RouteId"
                           asp-action="@Model.Action"
                           asp-route-sortOrder="@ViewData["CurrentSort"]"
                           asp-route-currentFilter="@ViewData["CurrentFilter"]"
                           asp-route-page="@(Model.TotalPages)"
                           asp-route-items="@Model.PageItems"
                           class="page-link">
                            &raquo;
                        </a>
                    </li>
                }


            }
        }
    </ul>
    <select  id="pageItems" name="pageItems" style="margin: 5px; display: flex; align-self: center;">
        <option value="1">1</option>
        <option selected value="5">5</option>
        <option  value="10">10</option>
        <option  value="20">20</option>
    </select>
</div>
