@model PRO.UI.ViewModels.EditUserViewModel

<div class="">
    @using (Html.BeginForm("EditProfile", "Users", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <hr />
        @Html.ValidationSummary("", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.AppUser.Id)
        @Html.HiddenFor(model => model.AppUser.RegisterDate)
        @Html.HiddenFor(model => model.AppUser.ImageId)
        @Html.HiddenFor(model => model.AppUser.IsActive)
        @Html.HiddenFor(model => model.AppUser.Email)
        @Html.HiddenFor(model => model.AppUser.UserName)
        <div class="form-group">
            @Html.LabelFor(model => model.AppUser.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-12">
                @Html.TextAreaFor(model => model.AppUser.Description, new { @id = "mytextarea", @class = "form-control" })
                @Html.ValidationMessageFor(model => model.AppUser.Description, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.AppUser.IsPublic, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-12">
                <div class="checkbox">
                    @Html.EditorFor(model => model.AppUser.IsPublic)
                    @Html.ValidationMessageFor(model => model.AppUser.IsPublic, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-12">
                <input type="submit" class="btn btn-primary" value="Zapisz" />
                <a href="/users/@Model.AppUser.Id" class="btn btn-secondary" >Powrót</a>
            </div>
        </div>
    }
</div>
@section scripts{
    <partial name="_ValidationScriptsPartial" />
}
