@model PRO.UI.ViewModels.UserProfileViewModel

<div class="">
    @using (Html.BeginForm("EditProfile", "Users", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <hr />
        @Html.ValidationSummary("", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ApplicationUser.Id)
        @Html.HiddenFor(model => model.ApplicationUser.RegisterDate)
        @Html.HiddenFor(model => model.ApplicationUser.ImageId)
        @Html.HiddenFor(model => model.ApplicationUser.IsActive)
        @Html.HiddenFor(model => model.ApplicationUser.Email)
        @Html.HiddenFor(model => model.ApplicationUser.UserName)
        <div class="form-group">
            @Html.LabelFor(model => model.ApplicationUser.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-12">
                @Html.TextAreaFor(model => model.ApplicationUser.Description, new { @id = "mytextarea", @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ApplicationUser.Description, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.ApplicationUser.IsPublic, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-12">
                <div class="checkbox">
                    @Html.EditorFor(model => model.ApplicationUser.IsPublic)
                    @Html.ValidationMessageFor(model => model.ApplicationUser.IsPublic, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-12">
                <input type="submit" class="btn btn-primary" value="Zapisz" />
                <a href="#" class="btn btn-secondary" onclick="javascript:window.history.back(-1);return false;">Powrót</a>
            </div>
        </div>
    }
</div>
@section scripts{
    <partial name="_ValidationScriptsPartial" />
}
