@model PRO.Entities.Review

@{
    ViewBag.Title = "ManageDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2 class="list-title box-shadow">Szczegóły recenzji</h2>
<div class="window-background box-shadow p-3">
    <div>

        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Game)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Game.Title)

            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.User)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.User.UserName)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.ReviewDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ReviewDate)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Moderator)
            </dt>

            <dd>
                @if (Model.Moderator == null)
                {<p>Brak</p> }
                else
                { @Html.DisplayFor(model => model.Moderator.User.UserName)}

            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.EditDate)
            </dt>

            <dd>
                @if (Model.EditDate == null)
                {<p>Brak</p> }
                else
                { @Html.DisplayFor(model => model.EditDate)}
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Content)
            </dt>

            <dd>
                @Html.Raw(@Model.Content)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.GraphicsScore)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.GraphicsScore)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.StoryScore)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.StoryScore)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.MusicScore)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.MusicScore)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.GameplayScore)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.GameplayScore)
            </dd>

        </dl>
    </div>
    <hr />
    <p>
        <div class="btn btn-primary"><a class="actionLinkManage" href="/reviews/edit/@Model.Id">Edytuj</a></div>
        <a href="/reviews/delete/@Model.Id" class="btn btn-secondary">Usuń</a>
        <a href="#" class="btn btn-secondary" onclick="javascript:window.history.back(-1);return false;">Powrót</a>
    </p>
</div>