@model PRO.Entities.PaginatedList<PRO.Entities.Review>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/reviews/manage">Zarządzaj recenzjami</a>
        <button onclick="openButton2()" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor02" style=" align-items: start; justify-content: flex-end;">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/reviews/add">
                        Dodaj
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/panel">Powrót</a>
                </li>
            </ul>
            <form asp-action="Manage" method="get" class="d-flex" style="display: flex; align-items: center;">
                <input class="form-control me-sm-2" placeholder="Szukaj" type="text" name="currentFilter" value="@Model.Pagination.CurrentFilter" />
                <button class="btn btn-secondary my-2 my-sm-0" style="margin-left:5px;" type="submit">Szukaj</button>
            </form>
        </div>
    </div>
</nav>
<div class="table-container">
    <table class="table">
        <tr class="tableheadercolor">
            <th>
                <a asp-action="Manage" asp-route-sortOrder="@ViewData["GameSortParm"]game" asp-route-currentFilter="@Model.Pagination.CurrentFilter">Gra</a>
            </th>
            <th>
                <a asp-action="Manage" asp-route-sortOrder="@ViewData["UserSortParm"]" asp-route-currentFilter="@Model.Pagination.CurrentFilter">Użytkownik</a>
            </th>
            <th>
                <a asp-action="Manage" asp-route-sortOrder="@ViewData["DateSortParm"]" asp-route-currentFilter="@Model.Pagination.CurrentFilter">Data recenzji</a>
            </th>
            <th>
                <a asp-action="Manage" asp-route-sortOrder="@ViewData["EditDateSortParm"]" asp-route-currentFilter="@Model.Pagination.CurrentFilter">Data edycji</a>
            </th>
            <th>
                Moderator
            </th>

            <th>
                Ocena grafiki
            </th>
            <th>
                Ocena fabuły
            </th>
            <th>
                Ocena muzyki
            </th>
            <th>
                Ocena grywalności
            </th>
            <th></th>
        </tr>

        @{ foreach (var item in Model)
            {
                <tr class="tablerow">
                    <td>
                        @Html.DisplayFor(modelItem => item.Game.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.User.UserName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ReviewDate)
                    </td>
                    <td>
                        @if (item.EditDate.HasValue)
                        {
                            @Html.DisplayFor(modelItem => item.EditDate)}
                        else
                        { <p>Brak</p>}
                    </td>
                    <td>
                        @if (item.Moderator != null)
                        {
                            @Html.DisplayFor(modelItem => item.Moderator.User.UserName)}
                        else
                        { <p>Brak</p>}
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.GraphicsScore)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StoryScore)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MusicScore)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.GameplayScore)
                    </td>
                    <td>
                        @Html.ActionLink("Edytuj", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("Szczegóły", "ManageDetails", new { id = item.Id })
                        @if (@User.IsInRole("Admin"))
                        {<text>|</text>
                        @Html.ActionLink("Usuń", "Delete", new { id = item.Id })
                    }

                    </td>
                </tr>
            }
        }
    </table>
</div>
<div>
    <partial name="~/Views/Shared/_Pagination.cshtml" , model="Model.Pagination" />
</div>
<script>
    function openButton2() {
        var element = document.getElementById("navbarColor02");
        element.classList.toggle("collapse");
    }

</script>
