@using PRO.Domain.Entities
@model PRO.UI.ViewModels.UserGameListsViewModel
@{
    ViewBag.Title = "Profil użytkownika";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="box-shadow">
    <partial name="~/Views/Users/_TopUserBar.cshtml" , model="Model.AppUser" />
</div>
<div id="content" class="userprofilecontent box-shadow window-background">
    <partial name="~/Views/Users/_UserLeftSide.cshtml" , model="Model.AppUser" />
    <div style=" width: 100%; padding:10px;">

        <div id="status-menu" class="status-menu-container">
            <div class="status-menu">
                @{ var selectedlist = "all";
                    if (Model.GameLists.Pagination.CurrentFilter != null) { selectedlist = Model.GameLists.Pagination.CurrentFilter.ToString(); } }
                <a href="/users/gamelists/@Model.AppUser.Id?currentFilter=all" class="status-button @(selectedlist.Equals("all") ? "on" : "")">Wszystkie gry</a>
                @{foreach (ListType list in Model.ListTypes)
                    {
                        <a href="/users/gamelists/@Model.AppUser.Id?currentFilter=@list.Name" class="status-button @(selectedlist.Equals(list.Name) ? "on" : "")">@list.Name</a>
                    }
                }
            </div>
        </div>
        <div class="list-block">

            <div class="list-unit">
                <div class="list-status-title">
                    <span class="text">
                        @if (selectedlist == "all")
                        {<span>Wszystkie gry</span>}
                        else
                        { <span>@selectedlist</span>}
                    </span>
                    @if (Model.LoggedUserId.HasValue && Model.LoggedUserId.Value != 0)
                    {
                        <a style="margin:10px;" href="/users/gamelist" class="btn btn-secondary">
                            Dodaj
                        </a>}

                </div>

                <table class="list-table">
                    <tbody>
                        <tr class="list-table-header">
                            <th class="header-title">#</th>
                            <th class="header-title">
                                <span class="link sort">
                                    Obraz
                                </span>
                            </th>
                            <th class="header-title">
                                <a class="link sort" asp-action="GameLists" asp-route-sortOrder="@ViewData["TitleSortParm"]" asp-route-filterContent="@Model.GameLists.Pagination.CurrentFilter" asp-route-items="@Model.GameLists.Pagination.PageItems" asp-route-page="@Model.GameLists.Pagination.PageIndex">Tytuł gry</a>

                            </th>
                            <th class="header-title">
                                <a class="link sort" asp-action="GameLists" asp-route-sortOrder="@ViewData["ScoreSortParm"]" asp-route-filterContent="@Model.GameLists.Pagination.CurrentFilter" asp-route-items="@Model.GameLists.Pagination.PageItems" asp-route-page="@Model.GameLists.Pagination.PageIndex">Ocena użytkownika</a>

                            </th>
                            <th class="header-title">
                                <a class="link sort" asp-action="GameLists" asp-route-sortOrder="@ViewData["NameSortParm"]" asp-route-filterContent="@Model.GameLists.Pagination.CurrentFilter" asp-route-items="@Model.GameLists.Pagination.PageItems" asp-route-page="@Model.GameLists.Pagination.PageIndex">Lista</a>

                            </th>
                            <th class="header-title">
                                <a class="link sort" asp-action="GameLists" asp-route-sortOrder="@ViewData["HoursSortParm"]" asp-route-filterContent="@Model.GameLists.Pagination.CurrentFilter" asp-route-items="@Model.GameLists.Pagination.PageItems" asp-route-page="@Model.GameLists.Pagination.PageIndex">Rozegrane godziny</a>

                            </th>
                            @if (ViewBag.IsOwner)
                            {
                                <th class="header-title">
                                    <span class="link sort">

                                    </span>
                                </th>
                                <th class="header-title">
                                    <span class="link sort">

                                    </span>
                                </th>
                            }
                        </tr>
                    </tbody>
                    @{ int index = ((Model.GameLists.Pagination.PageIndex - 1) * Model.GameLists.Pagination.PageItems);
                        foreach (var item in Model.GameLists)
                        {
                            index++;
                            <tbody class="list-item">
                                <tr class="list-table-data">
                                    <td class="data" style="padding-left:10px; padding-right:5px;">@index</td>
                                    @{ if (item.Game.Image != null)
                                        {
                                            <td class="data image"><a href="/games/@item.GameId" class="link sort"><img src="~/images/@item.Game.Image.ImagePath" class="hover-info image"></a></td>

                                        }
                                        else
                                        {
                                            <td class="data image"><a href="/games/@item.GameId" class="link sort"></a></td>

                                        }
                                    }
                                    <td class="data title clearfix">
                                        <a href="/games/@item.GameId" class="link sort">@item.Game.Title</a>
                                    </td>
                                    <td class="data score">
                                        <span class="score-label score-na">
                                            @if (item.PersonalScore == null)
                                            {<span>-</span> }
                                            else
                                            { @item.PersonalScore}
                                        </span>
                                    </td>
                                    <td class="data type">
                                        <a href="/users/gamelists/@Model.AppUser.Id?filterType=ListName&currentFilter=@item.UserList.Name">
                                            @item.UserList.Name
                                        </a>

                                    </td>
                                    <td class="data">
                                        <div class="">
                                            <span>@item.HoursPlayed</span>
                                        </div>
                                    </td>
                                    @if (ViewBag.IsOwner)
                                    {
                                        <td class="data">
                                            <div class="">
                                                <a href="/users/gamelist/@item.Id" class="link sort">
                                                    Edytuj
                                                </a>
                                            </div>
                                        </td>
                                        <td class="data">
                                            <div class="">
                                                <a href="/users/gamelist/delete/@item.Id" class="link sort">
                                                    Usuń
                                                </a>
                                            </div>
                                        </td>
                                    }
                                </tr>
                            </tbody>
                        }

                    }
                </table>
                <div>
                    <partial name="~/Views/Shared/_Pagination.cshtml" , model="Model.GameLists.Pagination" />
                </div>
            </div>
        </div>

    </div>
</div>