@model IEnumerable<PRO.Entities.ApplicationUser>

@{
    ViewBag.Title = "Manage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Zarządzaj użytkownikami</h2>

<p>
    @if (User.IsInRole("Admin"))
    {
        <div class="btn btn-primary"><a class="actionLinkManage" href="/users/add">Dodaj nowego</a></div>
    }
    <div class="btn btn-secondary"><a class="actionLinkManage" href="/panel">Powrót</a></div>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Image)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RegisterDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsActive)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsPublic)
        </th>
        <th></th>
    </tr>

    @{ var start = ViewBag.Pagination.pageIteratorStart;
        var end = ViewBag.Pagination.pageIteratorEnd;
        for (var i = start; i <= end; i++)
        {
            var item = Model.ToArray()[i];
            <tr>
                <td>
                    @{if (item.Image != null)
                        {

                            <div style="text-align: center;">
                                <img style="max-height:200px;max-width:100px;width: expression(this.width > 100 ? 100: true);" class=" lazyloaded" src="/images/@item.Image.ImagePath">
                            </div>
                        }
                        else
                        { <p>Brak obrazu</p>}
                    }

                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RegisterDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsActive)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsPublic)
                </td>
                <td>
                    @Html.ActionLink("Edytuj", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Szczegóły", "ManageDetails", new { id = item.Id })
                    @if (User.IsInRole("Admin"))
                    {<text>|</text>
                    @Html.ActionLink("Usuń", "Delete", new { id = item.Id });
                    <text>|</text>
                    @Html.ActionLink("Zmień hasło", "ChangePassword", new { id = item.Id });
                }

                </td>
            </tr>

            /**/
            /**/
        }
    }
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
</table>
<div>
    <ul class="pagination">
        @{
            var first = ViewBag.Pagination.firstPage;
            var current = ViewBag.Pagination.currentPage;
            var previous = ViewBag.Pagination.previousPage;
            var items = ViewBag.Pagination.itemsPerPage;
            var next = ViewBag.Pagination.nextPage;
            var last = ViewBag.Pagination.lastPage;
        }




        @{
            if (@current >= 3)
            {
                <li class="page-item">
                    <a class="page-link" href="/users/manage?page=@first&items=@items">«</a>
                </li>
            }
            if (@current >= 2 && @previous != @current)
            {
                <li class="page-item">
                    <a class="page-link" href="/users/manage?page=@previous&items=@items">@previous</a>
                </li>
            }

            <li class="page-item active">
                <a class="page-link" href="/users/manage?page=@current&items=@items">@current</a>
            </li>

            if (@last > @current)
            {
                <li class="page-item">
                    <a class="page-link" href="/users/manage?page=@next&items=@items">@next</a>
                </li>
            }

            if (@last > @current + 1)
            {
                <li class="page-item">
                    <a class="page-link" href="/users/manage?page=@last&items=@items">&raquo;</a>
                </li>
            }
        }
    </ul>
</div>