@model PRO.Entities.PaginatedList<PRO.Entities.ApplicationUser>

@{
    ViewBag.Title = "Manage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/users/manage">Zarządzaj użytkownikami</a>
        <button onclick="openButton2()" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor02" style=" align-items: start; justify-content: flex-end;">
            <ul class="navbar-nav me-auto">
                @if (User.IsInRole("Admin"))
                {
                    <li class="nav-item">
                        <a class="nav-link" href="/users/add">
                            Dodaj
                        </a>
                    </li>
                }
                <li class="nav-item">
                    <a class="nav-link" href="/panel">Powrót</a>
                </li>
            </ul>
            <form asp-action="Manage" method="get" class="d-flex" style="display: flex; align-items: center;">
                <input class="form-control form-control-width me-sm-2" placeholder="Szukaj" type="text" name="currentFilter" value="@Model.Pagination.CurrentFilter" />
                <button class="btn btn-secondary my-2 my-sm-0" style="margin-left:5px;" type="submit">Szukaj</button>
            </form>
        </div>
    </div>
</nav>
<div class="window-background box-shadow">
    <div class="table-container">
        <table class="table tablecolor">
            <tr class="tableheadercolor">
                <th>
                    Obraz
                </th>
                <th>
                    <a asp-action="Manage" asp-route-sortOrder="@ViewData["UserSortParm"]" asp-route-currentFilter="@Model.Pagination.CurrentFilter" asp-route-items="@Model.Pagination.PageItems" asp-route-page="@Model.Pagination.PageIndex">Użytkownik</a>
                </th>
                <th>
                    <a asp-action="Manage" asp-route-sortOrder="@ViewData["EmailSortParm"]" asp-route-currentFilter="@Model.Pagination.CurrentFilter" asp-route-items="@Model.Pagination.PageItems" asp-route-page="@Model.Pagination.PageIndex">Email</a>
                </th>
                <th>

                    <a asp-action="Manage" asp-route-sortOrder="@ViewData["AddDateSortParm"]" asp-route-currentFilter="@Model.Pagination.CurrentFilter" asp-route-items="@Model.Pagination.PageItems" asp-route-page="@Model.Pagination.PageIndex">Data dodania</a>
                </th>
                <th>

                    <a asp-action="Manage" asp-route-sortOrder="@ViewData["EditDateSortParm"]" asp-route-currentFilter="@Model.Pagination.CurrentFilter" asp-route-items="@Model.Pagination.PageItems" asp-route-page="@Model.Pagination.PageIndex">Data edycji</a>
                </th>
                <th>
                    Aktywny
                </th>
                <th>
                    Publiczny
                </th>
                <th>Opcje</th>
            </tr>

            @{ foreach (var item in Model)
                {
                    <tr class="tablerow">
                        <td>
                            @{if (item.Image != null)
                                {

                                    <div style="text-align: center;">
                                        <img style="max-height:70px;max-width:70px;" class=" lazyloaded" src="/images/@item.Image.ImagePath">
                                    </div>
                                }
                                else
                                { <p>Brak obrazu</p>}
                            }

                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.UserName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.RegisterDate)
                        </td>
                        <td>
                            @if (item.EditDate.HasValue)
                            {@Html.DisplayFor(modelItem => item.EditDate)}
                        else
                        { <p>brak</p>}

                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IsActive)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IsPublic)
                        </td>
                        <td>
                            @Html.ActionLink("Edytuj", "Edit", new { id = item.Id }) |
                            @Html.ActionLink("Szczegóły", "ManageDetails", new { id = item.Id })
                            @if (User.IsInRole("Admin"))
                            {<text>|</text>
                            @Html.ActionLink("Usuń", "Delete", new { id = item.Id });
                            <text>|</text>
                            @Html.ActionLink("Zmień hasło", "ChangePassword", new { id = item.Id });
                        }

                        </td>
                    </tr>

                }
            }

        </table>

    </div>     
    <div>
        <partial name="~/Views/Shared/_Pagination.cshtml" , model="Model.Pagination" />
    </div>
</div>
<script>
    function openButton2() {
        var element = document.getElementById("navbarColor02");
        element.classList.toggle("collapse");
    }

</script>
