@model PRO.UI.ViewModels.UserGameListsViewModel
@using PRO.Entities
@{
    ViewBag.Title = "Profil użytkownika";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <partial name="~/Views/Users/_TopUserBar.cshtml" , model="Model.AppUser" />
</div>
<div id="content" class="userprofilecontent">
    <partial name="~/Views/Users/_UserLeftSide.cshtml" , model="Model.AppUser" />
    <div style=" width: 100%; padding:10px;">

        <div id="status-menu" class="status-menu-container">
            <div class="status-menu">
                @{ var selectedlist = "all";
                    if (ViewData["CurrentFilter"] != null) { selectedlist = ViewData["CurrentFilter"].ToString(); } }
                <a href="/users/lists/@Model.LoggedUserId?currentFilter=all" class="status-button @(selectedlist.Equals("all") ? "on" : "")">Wszystkie gry</a>
                @{foreach (ListType list in Model.ListTypes)
                    {
                        <a href="/users/lists/@Model.LoggedUserId?currentFilter=@list.Name" class="status-button @(selectedlist.Equals(list.Name) ? "on" : "")">@list.Name</a>
                    }
                }
            </div>
        </div>
        <div class="list-block">

            <div class="list-unit">
                <div class="list-status-title">
                    <span class="text">
                        @if (selectedlist == "all")
                        {<span>Wszystkie gry</span>}
                        else
                        { <span>@selectedlist</span>}
                    </span>
                </div>

                <table class="list-table">
                    <tbody>
                        <tr class="list-table-header">
                            <th class="header-title">#</th>
                            <th class="header-title">
                                <a href="" class="link sort">
                                    Obraz
                                </a>
                            </th>
                            <th class="header-title">
                                <a href="" class="link sort">
                                    Tytuł gry
                                </a>
                            </th>
                            <th class="header-title">
                                <a href="" class="link sort">
                                    Ocena użytkownika
                                </a>
                            </th>
                            <th class="header-title">
                                <a href="" class="link sort">
                                    Lista
                                </a>
                            </th>
                            <th class="header-title">
                                <a href="" class="link sort">
                                    Rozegrane godziny
                                </a>
                            </th>
                            @if (ViewBag.IsOwner)
                            {
                                <th class="header-title">
                                    <a href="" class="link sort">
                                        Edycja
                                    </a>
                                </th>
                            }
                        </tr>
                    </tbody>
                    @{ int index = ((Model.GameLists.Pagination.PageIndex - 1) * Model.GameLists.Pagination.PageItems);
                        foreach (var item in Model.GameLists)
                        {
                            index++;
                            <tbody class="list-item">
                                <tr class="list-table-data">
                                    <td class="data" style="padding-left:10px; padding-right:5px;">@index</td>
                                    @{ if (item.Game.Image != null)
                                        {
                                            <td class="data image"><a href="/games/@item.GameId" class="link sort"><img src="~/images/@item.Game.Image.ImagePath" class="hover-info image"></a></td>

                                        }
                                        else
                                        {
                                            <td class="data image"><a href="/games/@item.GameId" class="link sort"></a></td>

                                        }
                                    }
                                    <td class="data title clearfix">
                                        <a href="/games/@item.GameId" class="link sort">@item.Game.Title</a>
                                    </td>
                                    <td class="data score">
                                        <span class="score-label score-na">
                                            @if (item.PersonalScore == null)
                                            {<span>-</span> }
                                            else
                                            { @item.PersonalScore}
                                        </span>
                                    </td>
                                    <td class="data type">
                                        @item.UserList.Name
                                    </td>
                                    <td class="data">
                                        <div class="">
                                            <span>@item.HoursPlayed</span>
                                        </div>
                                    </td>
                                    @if (ViewBag.IsOwner)
                                    {
                                        <td class="data">
                                            <div class="">
                                                <a href="/users/gamelist/@item.Id" class="link sort">
                                                    Edytuj
                                                </a>
                                            </div>
                                        </td>
                                    }
                                </tr>
                            </tbody>
                        }
                    }
                </table>
                <div>
                    <partial name="~/Views/Shared/_Pagination.cshtml" , model="Model.GameLists.Pagination" />
                </div>
            </div>
        </div>

    </div>
</div>