@model PRO.UI.ViewModels.UserGameListsViewModel
@using PRO.Entities
@{
    ViewBag.Title = "Profil użytkownika";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <partial name="~/Views/Users/_TopUserBar.cshtml" , model="Model.AppUser" />
</div>
<div id="content" class="userprofilecontent">
    <partial name="~/Views/Users/_UserLeftSide.cshtml" , model="Model.AppUser" />
    <div style=" width: 100%;">

        <div id="status-menu" class="status-menu-container">
            <div class="status-menu">
                @{ var selectedlist = "all";
                    if (ViewData["CurrentFilter"] != null) { selectedlist = ViewData["CurrentFilter"].ToString(); } }
                <a href="/users/lists/@Model.LoggedUserId?currentFilter=all" class="status-button @(selectedlist.Equals("all") ? "on" : "")">Wszystkie gry</a>
                @{foreach (ListType list in Model.ListTypes)
                    {
                        <a href="/users/lists/@Model.LoggedUserId?currentFilter=@list.Name" class="status-button @(selectedlist.Equals(list.Name) ? "on" : "")">@list.Name</a>
                    }
                }
            </div>
        </div>
        <div class="list-block">

            <div class="list-unit">
                <div class="list-status-title">
                    <span class="text">@if (selectedlist == "all")
                    {<span>Wszystkie gry</span>}
                    else
                    { <span>@selectedlist</span>}</span>
                </div>

                <table class="list-table">
                    <tbody>
                        <tr class="list-table-header">
                            <th class="header-title">#</th>
                            <th class="header-title">
                                <a href="" class="link sort">
                                    Obraz
                                </a>
                            </th>
                            <th class="header-title">
                                <a href="" class="link sort">
                                    Tytuł gry
                                </a>
                            </th>
                            <th class="header-title">
                                <a href="" class="link sort">
                                    Ocena użytkownika
                                </a>
                            </th>
                            <th class="header-title">
                                <a href="" class="link sort">
                                    Lista
                                </a>
                            </th>
                            <th class="header-title">
                                <a href="" class="link sort">
                                    Rozegrane godziny
                                </a>
                            </th>
                        </tr>
                    </tbody>
                    @{ int index = ((Model.GameLists.Pagination.PageIndex - 1) * Model.GameLists.Pagination.PageItems);
                        foreach (var item in Model.GameLists)
                        {
                            index++;
                            <tbody class="list-item">
                                <tr class="list-table-data">
                                    <td class="data number">@index</td>
                                    <td class="data image"><a href="/games/@item.GameId" class="link sort"><img src="~/images/@item.Game.Image.ImagePath" class="hover-info image"></a></td>
                                    <td class="data title clearfix">
                                        <a href="/games/@item.GameId" class="link sort">@item.Game.Title</a>
                                    </td>
                                    <td class="data score">
                                        <a href="#" class="link edit-disabled">
                                            <span class="score-label score-na">
                                                @if (item.PersonalScore == null)
                                                {<span>-</span> }
                                                else
                                                { @item.PersonalScore}
                                            </span>
                                        </a> <!---->
                                    </td>
                                    <td class="data type">
                                        @item.UserList.Name
                                    </td>
                                    <td class="data progress">
                                        <div class="progress-41587">
                                            <span>@item.HoursPlayed</span> <!---->
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        }
                    }
                </table>
                <div>
                    <partial name="~/Views/Shared/_Pagination.cshtml" , model="Model.GameLists.Pagination" />
                </div>
            </div>
        </div>

    </div>
</div>