@model PRO.UI.ViewModels.UserUserListsViewModel
@using PRO.Entities
@{
    ViewBag.Title = "Profil użytkownika";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <partial name="~/Views/Users/_TopUserBar.cshtml" , model="Model.AppUser" />
</div>
<div id="content" class="userprofilecontent">
    <partial name="~/Views/Users/_UserLeftSide.cshtml" , model="Model.AppUser" />
    <div style=" width: 100%; padding:10px;">

        <div id="status-menu" class="status-menu-container">
            <div class="status-menu">
                @{ var selectedlist = "all";
                    if (ViewData["CurrentFilter"] != null) { selectedlist = ViewData["CurrentFilter"].ToString(); } }
                <a href="/users/userlists/@Model.LoggedUserId?currentFilter=all" class="status-button @(selectedlist.Equals("all") ? "on" : "")">Wszystkie listy</a>
                @{foreach (ListType list in Model.ListTypes)
                    {
                        <a href="/users/userlists/@Model.LoggedUserId?currentFilter=@list.Name" class="status-button @(selectedlist.Equals(list.Name) ? "on" : "")">@list.Name</a>
                    }
                }
            </div>
        </div>
        <div class="list-block">

            <div class="list-unit">
                <div class="list-status-title">
                    <span class="text">
                        @if (selectedlist == "all")
                        {<span>Wszystkie listy</span>}
                        else
                        { <span>@selectedlist</span>}
                    </span>

                        <a  style="margin:10px;" href="/users/userlist" class="btn btn-secondary">
                            Dodaj
                        </a>

                </div>

                <table class="list-table">
                    <tbody>
                        <tr class="list-table-header">
                            <th class="header-title">
                                <a class="link sort" asp-action="UserLists" asp-route-sortOrder="@ViewData["NameSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Nazwa</a>
                            </th>
                            <th class="header-title">
                                <span class="link sort">
                                    Typ listy
                                </span>
                            </th>
                            <th class="header-title">
                                <a class="link sort" asp-action="UserLists" asp-route-sortOrder="@ViewData["CountSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Gier na liście</a>
                            </th>
                            @if (ViewBag.IsOwner)
                            {
                                <th class="header-title">
                                    <span class="link sort">
                                        Publiczna
                                    </span>
                                </th>
                                <th class="header-title">
                                    <span class="link sort">
                                        
                                    </span>
                                </th>
                                <th class="header-title">
                                    <span class="link sort">
                                        
                                    </span>
                                </th>
                            }
                        </tr>
                    </tbody>
                    @{ int index = ((Model.UserLists.Pagination.PageIndex - 1) * Model.UserLists.Pagination.PageItems);
                        foreach (var item in Model.UserLists)
                        {
                            index++;
                            <tbody class="list-item">
                                <tr class="list-table-data">
                                    <td class="data title clearfix">
                                        <a href="" class="link sort">@item.Name</a>
                                    </td>
                                    <td class="data score">
                                        <span class="score-label score-na">
                                            @item.ListType.Name
                                        </span>
                                    </td>
                                    <td class="data score">
                                        <span class="score-label score-na">
                                            @if (item.GameLists?.Count() == null)
                                            {<span>-</span> }
                                            else
                                            { @item.GameLists.Count()}
                                        </span>
                                    </td>
                                    @if (ViewBag.IsOwner)
                                    {
                                        <td class="data">
                                            <div class="">
                                                @Html.CheckBoxFor(model => item.IsPublic, new { @disabled = "disabled", @class = "link sort" })
                                            </div>
                                        </td>
                                        <td class="data">
                                            <div class="">
                                                <a href="/users/userlist/@item.Id" class="link sort">
                                                    Edytuj
                                                </a>
                                            </div>
                                        </td>
                                        <td class="data">
                                            <div class="">
                                                <a href="/users/userlist/delete/@item.Id" class="link sort">
                                                    Usuń
                                                </a>
                                            </div>
                                        </td>
                                    }
                                </tr>
                            </tbody>
                        }
                    }
                </table>
                <div>
                    <partial name="~/Views/Shared/_Pagination.cshtml" , model="Model.UserLists.Pagination" />
                </div>
            </div>
        </div>

    </div>
</div>