@model PRO.Domain.Entities.Moderator

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2 class="list-title box-shadow">Szczegóły moderatora</h2>
<div class="window-background box-shadow p-3">
    <div>

        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.User)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.User.UserName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CreatedDate)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.LastLoginDate)
            </dt>

            <dd>
                @if (!Model.LastLoginDate.HasValue)
                {
                    <text>brak logowania</text>
                }
                else
                {
                    @Html.DisplayFor(model => model.LastLoginDate.Value)
                }

            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.IsActive)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.IsActive)
            </dd>

        </dl>
    </div>
    <hr />
    <p>
        <div class="btn btn-primary"><a class="actionLinkManage" href="/moderators/edit/@Model.UserId">Edytuj</a></div>
        <a href="/moderators/delete/@Model.UserId" class="btn btn-secondary">Usuń</a>
        <a href="#" class="btn btn-secondary" onclick="javascript:window.history.back(-1);return false;">Powrót</a>
    </p>
</div>